@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --primary: #c2410c;
  --primary-foreground: #ffffff;
  --border: #e5e7eb;
}

[class~="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #121212;
  --card-foreground: #ededed;
  --primary: #f97316;
  --primary-foreground: #ffffff;
  --border: #262626;
}

body {
  @apply bg-background text-foreground;
}

@layer base {
  * {
    @apply border-border;
  }
}
